/* common shared styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:  #FFF;
    font-weight: 700;
    padding: 18px 35px 19px 36px;

}

.section-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* na related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px 0 226px;
    padding: 50px 0 0 0;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
   
}

/* header related styles*/

.header {
    background: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 38px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color:  #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-content p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner .profile-picture {
    width: 584px;
    height: 676px;
}

/*main section styles*/

main {
    margin: 0 230px 0 230px;
}

/*about section styles*/

.about {
    padding: 209px 157px 221px 156px;
    background: #fff8f3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.about-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what i do styles*/

#what-i-do-description {
    padding: 30px 157px 50px 156px;
}

/* skills-box-styles */

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px;
    margin-bottom: 130px;
}

.skill img {
    width: 44px;
    height: 44px;
}

.skill-titile {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.skill-descprition {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* summary-resume-section-styles */

.resume-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}


.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}

.resume-column {
    max-width: 600px;
}

.resume-item {
    margin: 30px 0;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}

.resume-item-descprition {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer section styles */








